# TilshunosAI Backend

# API Keys
GEMINI_API_KEY=""
OPENAI_API_KEY=""

# Model Configuration
PRIMARY_MODEL=gemini
FALLBACK_MODEL=gemini

# Gemini Model
GEMINI_MODEL=gemini-3-pro-preview

# GPT Model
GPT_MODEL=gpt-5.2
